<nav class="navbar navbar-fixed-top confluence-topnav">
    <div class="container navbar-container">
      <!-- Left Section: Logo and Brand -->
      <div class="navbar-left">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <!-- <img src="{{ site.baseurl }}/img/logonav.png" alt="Logo" class="navbar-logo"> -->
        </a>
        <!-- Mobile Toggle -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  
      <!-- Navigation: Only Documentation -->
      <div id="navbar" class="collapse navbar-collapse">
       
  
        <!-- Right Section: Search Only -->
        <div class="navbar-right">
          <form class="navbar-search" role="search">
            <div class="search-container">
              <input id="search-box" type="text" class="form-control" placeholder="Search" aria-label="Search">
              <span class="search-icon"></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>